<!DOCTYPE html>
<html>
  <head>
    <title>Coinbase</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_path('favicon_io/favicon-16x16.png') %>
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.yoshiURL = "<%= image_url('yoshi.gif') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
