<!DOCTYPE html>
<html>
  <head>
    <title>Coinbase</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_path('favicon_io/favicon-16x16.png') %>
    <link href="https://fonts.googleapis.com/css?family=Lato:700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.yoshiURL = "<%= image_url('yoshi.gif') %>";
      window.BAT = "<%= image_url('crypto_logos/BAT.png') %>";
      window.BTC = "<%= image_url('crypto_logos/BTC.png') %>";
      window.BCH = "<%= image_url('crypto_logos/BCH.png') %>";
      window.DAI = "<%= image_url('crypto_logos/DAI.png') %>";
      window.DASH = "<%= image_url('crypto_logos/DASH.png') %>";
      window.EOS = "<%= image_url('crypto_logos/EOS.png') %>";
      window.ETC = "<%= image_url('crypto_logos/ETC.png') %>";
      window.ETH = "<%= image_url('crypto_logos/ETH.png') %>";
      window.LINK = "<%= image_url('crypto_logos/LINK.png') %>";
      window.LTC = "<%= image_url('crypto_logos/LTC.png') %>";
      window.OXT = "<%= image_url('crypto_logos/OXT.png') %>";
      window.REP = "<%= image_url('crypto_logos/REP.png') %>";
      window.USDC = "<%= image_url('crypto_logos/USDC.png') %>";
      window.XLM = "<%= image_url('crypto_logos/XLM.png') %>";
      window.XRP = "<%= image_url('crypto_logos/XRP.png') %>";
      window.XTZ = "<%= image_url('crypto_logos/XTZ.png') %>";
      window.ZEC = "<%= image_url('crypto_logos/ZEC.png') %>";
      window.ZRX = "<%= image_url('crypto_logos/ZRX.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
